* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
}

.shoebox {
    background-color: #ff0000;
    height: 100vh;
    position: relative;
}

.shoe1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slogan {
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
    font-family: 'Rubik Mono One', sans-serif;
}

.yellow-text {
    color: #ffff00;
}